In [2]:
import mysql.connector
from mysql.connector import errorcode
import pymysql.cursors
from sqlalchemy import *
import pandas as pd

In [14]:
def conecta_db():
    connection = pymysql.connect("mysql+pymysql://<root>:<root>@<localhost>/<datasus>")
    return connection
    #with connection:
        #with connection.cursor() as cursor:# Create a new record
            #sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
            #cursor.execute(sql, ('webmaster@python.org', 'very-secret'))
        # connection is not autocommit by default. So you must commit to save your changes.
        #connection.commit()
        #with connection.cursor() as cursor:# Read a single record
            #sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
            #cursor.execute(sql, ('webmaster@python.org',))
            #result = cursor.fetchone()
            #print(result)

In [9]:
def table_mysql(query,cnx):
    try:cursor = cnx.cursor()
    except:print("Erro definindo cursor");return
    
    database = 'DATASUS'
    cursor.execute("USE {}".format(database))
    cursor.execute('SELECT * FROM {}'.format(query))

    return cursor.fetchall()

In [10]:
cnx = conecta_db()

df_RDPR = pd.DataFrame(table_mysql("RDPR WHERE CNES = '2384299'",cnx))
df_SPPR = pd.DataFrame(table_mysql("SPPR WHERE SP_CNES = '2384299'",cnx))

Conectado em localhost:3306, usuario: root

In [11]:
print(df_RDPR.head(10))

      0     1   2   3               4              5   6         7       8    \
0  410690  2021  01  01  75095679000220  4121100197379   1  80310170  410690
1  410690  2021  01  01  75095679000220  4121100197401   1  82310220  410690
2  410690  2021  01  01  75095679000220  4121100197445   1  83570970  410520
3  410690  2021  01  01  75095679000220  4121100197478   1  81850110  410690
4  410690  2021  01  01  75095679000220  4121100197632   1  80320310  410690
5  410690  2021  01  01  75095679000220  4121100197676   1  84264300  412710
6  410690  2021  01  01  75095679000220  4121100082638   1  80060150  410690
7  410690  2021  01  01  75095679000220  4121100082650   1  80060150  410690
8  410690  2021  01  01  75095679000220  4121100086686   1  83324380  411915
9  410690  2021  01  01  75095679000220  4121100109225   1  81330210  410690

        9    ... 103  104  105  106  107 108  109  110  111  112
0  19970331  ...        0    0    0    0   0    0    0    0    0
1  19561205  ...        0    0    0    0   0    0    0    0    0
2  20020311  ...        0    0    0    0   0    0    0    0    0
3  19550630  ...        0    0    0    0   0    0    0    0    0
4  20160506  ...        0    0    0    0   0    0    0    0    0
5  19960323  ...        0    0    0    0   0    0    0    0    0
6  19730411  ...        1    0    0    0   0    0    0    0    0
7  19730411  ...        1    0    0    0   0    0    0    0    0
8  19700622  ...        0    0    0    0   0    0    0    0    0
9  19900208  ...        0    0    0    0   0    0    0    0    0

[10 rows x 113 columns]

In [ ]:
cursor.close()
cnx.close()